
@{
    ViewData["Title"] = "ClienteId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <div class="card">
  <div class="card-header">
<h1>ClienteId</h1>
         
    </div>
        <h3>Id:</h3>
        <p>@Model.Id</p>
        <h3>Nombre Completo:</h3>
        <p>@Model.NombreCompleto</p>
        <h3>RazonSocial:</h3>
        <p>@Model.RazonSocial</p>
        <h3>RFC:</h3>
        <p>@Model.Rfc</p>
        <h3>Curp:</h3>
        <p>@Model.Curp</p>
        <h3>Domicilio</h3>
        <p>@Model.Domicilio</p>
     
    </div>
